a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 0 100px;
}
.header__logo {
  min-height: 33px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header__nav__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: #FF6060;
  margin-left: 57px;
}
@media (max-width: 768px) {
  .header {
    margin: 40px 25px 0 25px;
  }
  .header__logo {
    width: 125px;
  }
  .header__nav__link {
    font-size: 18px;
    line-height: 17px;
    margin-left: 25px;
  }
}

.banner {
  position: relative;
  margin-top: 63px;
  height: 223px;
  background: #000000;
  margin: 40px 100px 0 100px;
  mix-blend-mode: darken;
  border-radius: 25px;
}
.banner__img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
  border-radius: 25px;
}
.banner__text {
  margin: 0;
  position: absolute;
  z-index: 2;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  width: 100%;
  height: 100%;
  line-height: 68px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .banner {
    margin: 40px 50px 0 50px;
  }
  .banner__text {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .banner {
    margin: 40px 25px 0 25px;
    height: 111px;
  }
  .banner__text {
    margin-left: 16px;
    width: 55%;
    font-size: 24px;
    line-height: 24px;
    text-align: start;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #F7F7F7;
  margin: 40px 100px 25px 100px;
  border-radius: 25px;
  padding: 31px 50px 0 50px;
}
.box__card {
  width: 30%;
  margin: 25px 0;
}
.box__card__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.box__card__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  height: 45px;
  bottom: 50px;
  padding: 0 20px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  color: #FFFFFF;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .box {
    padding: 35px 15px 0 15px;
    margin: 40px 50px 0 50px;
  }
  .box__card {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .box {
    margin: 40px 25px 0 25px;
  }
  .box__card {
    margin: 0;
    width: 100%;
    margin-bottom: -25px;
  }
  .box__card__img {
    height: 255px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #000000;
}
.footer__logo {
  margin-top: 25px;
}
.footer__copyright {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 34px;
}

.errorPage {
  color: #FF6060;
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 700px;
}
.errorPage__title {
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  margin: 0;
}
.errorPage__subtitle {
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  margin: 0;
}
.errorPage__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  text-decoration: underline;
  color: #FF6060;
}
@media (max-width: 768px) {
  .errorPage {
    justify-content: center;
    height: auto;
  }
  .errorPage__title {
    font-size: 96px;
    margin-top: 195px;
  }
  .errorPage__subtitle {
    font-size: 18px;
    margin-top: 11px;
  }
  .errorPage__link {
    font-size: 14px;
    margin-top: 133px;
    margin-bottom: 50px;
  }
}

.about .banner {
  height: 250px;
  margin-top: 50px;
}
.about .banner__img {
  -o-object-position: 50% 25%;
     object-position: 50% 25%;
}
.about .collapse__title, .about .collapse__text {
  font-size: 24px;
}

.aboutPage {
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  margin-bottom: 25px;
}

.lodging {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 100px 50px 100px;
}
.lodging__box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.lodging__box__title {
  display: flex;
  flex-direction: column;
  width: 75%;
  color: #FF6060;
  font-family: "Montserrat";
}
.lodging__box__title__main {
  font-size: 36px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.lodging__box__title__sub {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0;
}
.lodging__box__rate {
  width: 40%;
  text-align: end;
}
.lodging__box__tags {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
}
.lodging__box__tags__list {
  list-style: none;
  color: #FFFFFF;
  background-color: #FF6060;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  min-width: 100px;
  padding: 5px 15px;
  text-align: center;
  margin-right: 15px;
  margin-top: 10px;
}
.lodging__box__figure {
  width: 25%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 0;
}
.lodging__box__figure__img {
  border-radius: 100%;
  height: 64px;
  width: 64px;
}
.lodging__box__figure__legend {
  color: #FF6060;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  margin-right: 25px;
  text-align: end;
}
.lodging__details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}
@media (max-width: 768px) {
  .lodging {
    margin: 20px;
    align-items: center;
  }
  .lodging__box__title {
    width: 100%;
  }
  .lodging__box__title__main {
    font-size: 30px;
  }
  .lodging__box__tags {
    width: 100%;
  }
  .lodging__box__rate {
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
  }
  .lodging__box__figure {
    width: 50%;
    order: 1;
  }
  .lodging__details {
    margin-top: 25px;
    display: block;
  }
}

.lodging__details .collapse {
  width: 48%;
  margin: 0;
}
@media (max-width: 768px) {
  .lodging__details .collapse {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 25px;
  }
}

.carousel {
  position: relative;
  width: 100%;
  bottom: 25px;
}
.carousel__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 475px;
  border-radius: 25px;
}
.carousel__img--one {
  margin-top: 75px;
}
.carousel__box {
  position: relative;
  top: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}
.carousel__box__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 768px) {
  .carousel__img {
    height: 300px;
  }
  .carousel__box {
    top: 175px;
    margin: 0 10px;
  }
  .carousel__box__button img {
    height: 25px;
  }
}

.rate__star {
  margin: 5px;
}
@media (max-width: 768px) {
  .rate__star img {
    height: 20px;
  }
}

.collapse {
  margin-top: 50px;
  width: 85%;
  list-style-type: none;
}
.collapse[open] .collapse__title::after {
  transform: rotate(0deg);
}
.collapse__title {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #FF6060;
  font-weight: 500;
  font-size: 22px;
  line-height: 142.6%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.collapse__title::after {
  content: url("../Assets/Vector.svg");
  transform: rotate(180deg);
  transition: 1s;
}
.collapse__text {
  color: #FF6060;
  margin: 0;
  background-color: #F7F7F7;
  font-weight: 400;
  font-size: 18px;
  line-height: 142.6%;
  padding: 25px 15px 15px 15px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .collapse {
    width: 80%;
  }
  .collapse__title {
    font-size: 18px;
    padding: 5px 10px;
  }
  .collapse__title::after {
    content: url("../Assets/VectorLittle.svg");
  }
  .collapse__text {
    font-size: 16px;
  }
}

details[open] summary ~ * {
  -webkit-animation: sweep 1s ease-in-out;
          animation: sweep 1s ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-bottom: -10px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-bottom: -10px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=index.css.map */