.about {
    .banner {
        height: 250px;
        margin-top: 50px;

        &__img {
            object-position: 50% 25%;
        }
    }

    .collapse {

        &__title,
        &__text {
            font-size: 24px;
        }
    }
}

.aboutPage {
    font-family: $main_font;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    margin-bottom: 25px;
}