.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 0 100px;
    &__logo {
        min-height: 33px;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        &__link {
            font-family: $main_font;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height:  34px;
            display: flex;
            align-items: flex-end;
            text-align: right;
            color: $color_orange;
            margin-left: 57px;
        }
    }
    @media (max-width:$screen_mobile) {
        margin: 40px 25px 0 25px;
        &__logo{
            width: 125px;
        }
        &__nav{
        &__link{
            font-size: 18px;
            line-height: 17px;
            margin-left: 25px;
        }}
    }
}